In [1]:
from foundry.foundry import Foundry

In [2]:
f = Foundry().from_file()
X,y = f.load_data()

In [3]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
y.head()

   Y
0  0
1  0
2  0
3  0
4  0

In [5]:
f.run('rjacobs3_wisc/iris_svm',X[0:10].values.tolist())

[[[0.9759251746065725, 0.015584508770679937, 0.008490316622747655],
  [0.9615543074151482, 0.02766656698571812, 0.010779125599133596],
  [0.9746319114861124, 0.01696420791896772, 0.008403880594920025],
  [0.9582112463553731, 0.02994882646206618, 0.011839927182560652],
  [0.9782471438272006, 0.013687706152186273, 0.00806515002061328],
  [0.9623587721679671, 0.024712089666114864, 0.012929138165917916],
  [0.9718727874853048, 0.01853972535431475, 0.009587487160380529],
  [0.9677908974178717, 0.021874965244129164, 0.010334137337999235],
  [0.9592356656059792, 0.02956035381957156, 0.011203980574449397],
  [0.9612263778473312, 0.027787516198001898, 0.01098610595466657]]]

In [6]:
f.describe()

DC:{}
Dataset:{"inputs": ["sepal length (cm)", "sepal width (cm)", "petal length (cm)", "petal width (cm)"], "outputs": ["Y"], "input_descriptions": [], "output_descriptions": [], "type": "tabular", "hash": [], "version": "", "references": [], "sources": []}

# Only Run To Create Directory Contents

In [5]:
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()

df_x = pd.DataFrame(iris.data,columns=iris.feature_names)
df_y = pd.DataFrame(iris.target,columns=['Y'])
df = pd.concat([df_x,df_y],axis=1)
df.head()
df.to_json("foundry_dataframe.json")

# iris_dict = {
#     "dc":{},
#     "mdf":{},
#     "foundry":{
#         "inputs":['sepal length (cm)',
#                  'sepal width (cm)',
#                  'petal length (cm)',
#                  'petal width (cm)'],
#         "outputs":['Y'],
#         "type":"tabular"
#     }
# }

# f = Foundry().from_dict(iris_dict)
# f.to_file()