![foundry.png]()

# Foundry OQMD Tutorial for Beginners
This introduction uses Foundry to:


1.   Load data from Foundry
2.   Create local metadata and dataframe


This notebook is set up to run as a [Google Colaboratory](https://colab.research.google.com/notebooks/intro.ipynb#scrollTo=5fCEDCU_qrC0) notebook, which allows you to run python code in the browser, or as a [Jupyter](https://jupyter.org/) notebook, which runs locally on your machine.

The code in the next cell will detect your environment to make sure that only cells that match your environment will run.

In [1]:
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

# Installing Foundry
First we'll need to install Foundry and [MDF](https://materialsdatafacility.org/). If you're running the notebook locally, just make sure that Foundry and MDF are installed in your local environment. If you're using Google Colab, run the code below to install.

*Due to a recent FuncX update, we need to use FuncX 0.0.5 (FuncX is included in the Foundry install). This install is a temporary fix that makes sure we have the version we need.

In [ ]:
if IN_COLAB:
  !pip install foundry_ml
  !pip install mdf_connect_client
  !pip install funcx==0.0.5

# Importing and Instantiating Foundry
Now we can import Foundry!

In [3]:
from foundry import Foundry

We'll also need to instantiate it. To do so, you'll need a [Globus](https://www.globus.org) account. Once you have your account, you can instantiate Foundry using the code below. When you instantiate Foundry locally, be sure to have your Globus endpoint turned on (you can do that with [Globus Connect Personal](https://www.globus.org/globus-connect-personal)). When you instantiate Foundry on Google Colab, you'll be given a link in the cell's output and asked to enter the provided auth code.

In [ ]:
if IN_COLAB:
  f = Foundry(no_local_server=True, no_browser=True) #instantiating in colab
else:
  f = Foundry() #instantiating locally

# Loading the Data
We can load the data using `f.load()` and use `f.load_data()` to load the data into the client.

In [ ]:
if IN_COLAB:
  f = f.load("_test_foundry_oqmd_v1.1", globus=False) #loading data in colab
else:
  f = f.load("_test_foundry_oqmd_v1.1") #loading data locally

In [6]:
X,y = f.load_data()

In [7]:
X.head()

  configuration  ...  crystal_structure_volume
0    fine_relax  ...                   57.6133
1      standard  ...                   81.9125
2    fine_relax  ...                  105.5640
3      standard  ...                   98.2219
4    fine_relax  ...                  101.6570

[5 rows x 13 columns]

We can also use `f.describe()` to see more information about the dataset, such as the creators, publisher, publication year, etc. You can see all the details below.

In [8]:
f.describe()

DC:{'creators': [{'affiliations': ['Northwestern University'], 'creatorName': 'Wolverton, Chris', 'familyName': 'Wolverton', 'givenName': 'Chris'}, {'affiliations': ['Northwestern University'], 'creatorName': 'Kirklin, Scott', 'familyName': 'Kirklin', 'givenName': 'Scott'}, {'affiliations': ['Northwestern University'], 'creatorName': 'Hegde, Vinay', 'familyName': 'Hegde', 'givenName': 'Vinay'}, {'affiliations': ['Northwestern University'], 'creatorName': 'Ward, Logan', 'familyName': 'Ward', 'givenName': 'Logan'}], 'dates': [{'date': '2021-01-28', 'dateType': 'Accepted'}], 'identifier': {'identifier': '10.23677/bnrj-obxh', 'identifierType': 'DOI'}, 'publicationYear': 2021, 'publisher': 'Materials Data Facility', 'resourceType': {'resourceType': 'Dataset', 'resourceTypeGeneral': 'Dataset'}, 'subjects': [{'subject': 'machine learning'}, {'subject': 'foundry'}], 'titles': [{'title': 'Foundry - OQMD'}]}
Dataset:{"inputs": ["configuration", "magnetic_moment", "stability", "delta_e", "total_energy", "volume_pa", "composition", "dft_converged", "dft_cutoff_energy", "dft_exchange_correlation_functional", "crystal_structure_number_of_atoms", "crystal_structure_space_group", "crystal_structure_volume"], "outputs": ["bandgap"], "input_descriptions": [], "output_descriptions": [], "type": "tabular", "version": "", "short_name": "oqmd"}

# Run to Create Dataframe and Metadata Locally without Fetch

In [ ]:
if IN_COLAB:
  !pip install mdf-forge

In [ ]:
from mdf_forge.forge import Forge
import pandas as pd
import json

mdf = Forge()
r = mdf.match_source_names("oqmd").match_resource_types("record").search(limit=200)

In [16]:
def oqmd_to_df(res):
    frame = []
    
    for r in res:
        record = {}
        
        # OQMD Block
        record['bandgap'] = r['oqmd'].get('band_gap', {}).get('value', None)
        record['configuration'] = r['oqmd'].get('configuration', None)
        record['magnetic_moment'] = r['oqmd'].get('magnetic_moment',{}).get('value', None)
        record['stability'] = r['oqmd'].get('stability', {}).get('value', None)
        record['delta_e'] = r['oqmd'].get('delta_e', {}).get('value', None)
        record['total_energy'] = r['oqmd'].get('total_energy', {}).get('value', None)
        record['volume_pa'] = r['oqmd'].get('volume_pa', {}).get('value', None)
        
        # Material Block
        record['composition'] = r.get('material', {}).get('composition',"")
        
        #DFT Block
        prefix = "dft_"
        record[prefix+'converged'] = r['dft'].get('converged', None)
        record[prefix+'cutoff_energy'] = r['dft'].get('cutoff_energy', None)
        record[prefix+'exchange_correlation_functional'] = r['dft'].get('exchange_correlation_functional', None)
        
        # Crystal Structure Block
        prefix = "crystal_structure_"
        record[prefix+'number_of_atoms'] = r['crystal_structure'].get('number_of_atoms', None)
        record[prefix+'space_group'] = r['crystal_structure'].get('space_group', None)
        record[prefix+'volume'] = r['crystal_structure'].get('volume', None)

        frame.append(record)
    return frame

In [17]:
df = pd.DataFrame(oqmd_to_df(r))
df

     bandgap  ... crystal_structure_volume
0        0.0  ...                  70.7190
1        0.0  ...                  55.6276
2        0.0  ...                 110.2550
3        0.0  ...                  37.0108
4        0.0  ...                  62.6938
..       ...  ...                      ...
195      0.0  ...                 107.7030
196      0.0  ...                  64.6526
197      0.0  ...                  72.7578
198      0.0  ...                  66.9173
199      0.0  ...                  79.3140

[200 rows x 14 columns]

In [18]:
df.to_json('foundry_dataframe.json')

In [14]:
oqmd_dict = {
    "dc":{},
    "mdf":{
        "source_id":"_test_foundry_oqmd_v1.1"
    },
    "foundry":{
        "inputs":['configuration',
             'magnetic_moment',
             'stability',
             'delta_e',
             'total_energy',
             'volume_pa',
             'composition',
             'dft_converged',
             'dft_cutoff_energy',
             'dft_exchange_correlation_functional',
             'crystal_structure_number_of_atoms',
             'crystal_structure_space_group',
             'crystal_structure_volume'],
        "outputs":"bandgap",
        "type":"tabular"
    }
}

In [ ]:
with open('foundry_metadata.json', 'w') as meta_file:
  json.dump(oqmd_dict, meta_file)